:root{
    --black : #222;
    --white : #eee;
    --blue : steelblue;
    --link : gold;
    --button : seagreen;
}
*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
header{
    background: #222;
    color: var(--white);
}
header a, a {
    color: var(--link);
}

header, footer{
    background: var(--black);
    padding: 1em;
}
h1{
    font-weight: 100;
    font-size: 2rem;
}
h2{
    font-weight: 200;
    font-size: 2rem;
    text-align: center;
    margin: 1em auto;
}
h3{
    font-size: 2rem;
    font-weight: 200;
    text-align: center;
    margin: 1em auto;
}
main{
    display: grid;
    place-content: center;
    min-height: 90vh;
    margin-left: 0;
    margin: 0 auto;
    width: 80%;
}
img{
    max-width: 100%;
    display: block;
    margin: auto;
    transition: .5s;
}

img:hover{
    cursor:pointer;
    transform:scale(1.1);
}
figure{
    margin: 3em auto;
}
figure img{
    display: block;
    margin: 1em auto;
}
li{
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
}
.student{
    display: none;
}
.buy{
    display: block;
    background: var(--black);
    color: var(--link);
    padding: 2em;
    font-size: 2em;
    text-align: center;
    border-radius: 10px;
    border: 5px solid var(--link);
    box-shadow: 0 2px 5px rgba(0, 0, 0.1);
    margin: 1em auto;
}
h4{
    font-family: monospace;
    font-size: 2em;
    margin: 1em auto;
}
details::before{
    content: "";
}
[type=button]{
    background: var(--button);
    padding: 1em;
    border-radius: 10px;
    color: var(--white);
    text-align: center;
    margin:0;
}
.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.scans h4{
    display: block;
    color: orangered;
    transition: .5s;
    text-align: center;
}
.hide{
    display:none;
    background: lightgray;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0.1);
    margin: 1em auto;
    color: var(--black);
}
.aaron_scans{
    background: radial-gradient(gold, orange);
    color: var(--black);
    padding: 1em;
    border:none;
    font-size: 1.1em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0.1);
    margin: 1em auto;
    transition: .3s ease-in-out;
}

.SoundCloud{
    position: fixed;
    left:-17vw;
    bottom:10dvh;
    transition: 0.3s ease-in-out;
    opacity: .4;
}
.SoundCloudToggle{    
    cursor: pointer;
    position: fixed;
    left: 0;
    bottom: 0;
    background: var(--blue);
    color: var(--white);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0.1);
    z-index: 1000;
}
.SoundCloud:hover{
    left:0;
    opacity: 1;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
    background: black;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0.1);
    color: white;
}
.progression {
    gap: 10px;
    margin: 2em auto;
    width: 30%;
    background-color: #f0f0f0;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0.1);
}
.methods{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em auto;
    background: var(--blue);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0.1);
}
.methods img{
    width: 20vw;
    filter: opacity(.8);
    transition: 0.3s ease-in-out;
}

.methods img:hover{
    filter: opacity(1);
}
.repertoire{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
    background: radial-gradient(seagreen, lightgreen);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0.1);
}
.repertoire a{
    color: var(--black);
    font-weight: bold;
    text-decoration: underline;
}
.partition{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5em;
    background: radial-gradient(black, #333);
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0.1);
    margin: 1em auto;
}
.partition img{
    width: 100%;
    max-width: 400px;
    margin: 0.5em;
    box-shadow: 0 2px 5px rgba(0, 0, 0.1);
}
footer{
    background: var(--black);
    color: var(--white);
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}
@media screen and (max-width: 800px){
    *{
        flex-direction: column;
    }
    .SoundCloud{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        opacity: 1;
    }
}